* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(19, 18, 18);
  }
  h1{
    padding-left: 50px;
  }
  nav {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
    font-weight: bold;
  }
  nav .mainMenu li a:hover {
    color: aqua;
  }

  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(134, 19, 19);
  }
  .fa-linkedin:hover {
    color: rgb(16, 18, 141);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }
  
  .pic-div{
    text-align: center;
    width: 100%;
  }

  footer{
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}

footer h3{
    font-size: 35px;
}

footer p{
  padding-top: 30px;
    font-size: 15px;

}

@media (max-width: 800px) {
  img{
    width: 400px;
    height: auto;
  }
}

.about-text{
  color: white;
  font-size: 25px;
  text-align: center;
}

h1{
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 20px;
}

p{
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

.about-div{
  width: 100%;
  height: auto;
}

@media (max-width: 800px){
  p{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  }
}